* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: linear-gradient(135deg,#eef2ff,#b8d7f7);
 font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

/* Title */
.page-title {
  margin-bottom: 35px;
  font-size: 42px;
}

.subtitle {
  max-width: 700px;
  margin: 0 auto 30px;
  color: #555;
  font-size: 18px;
  line-height: 1.6;
}

/* Avatar */
.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
}

.avatar img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #3498db;
  transition: transform 0.3s ease;
}

.avatar-placeholder {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 5px solid #3498db;
  background-color: #d1d5db;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #374151;
  font-size: 45px;
  font-weight: 700;
  transition: transform 0.3s ease;
}

.avatar img {
  transition: transform 0.3s ease;
}

.avatar img:hover,
.avatar-placeholder:hover {
  transform: scale(1.05);
}

/* Initials when no image */
.avatar-placeholder {
  background-color: #d1d5db;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #374151;
  font-size: 45px;
  font-weight: 700;
  transition: transform 0.3s ease;
}

.avatar h3 {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 600;
}

/* Badges */
.badges {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 35px 0;
}

/* Stat Card */
.stats {
  display: flex;
  justify-content: center;   /* THIS CENTERS THE CARD */
  margin: 40px 0;
}

.stat-card {
  width: 220px;
  padding: 15px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.stat-card h1 {
  color: #3498db;
  font-size: 50px;
}

/* Team Heading */
.team-heading {
  margin: 45px 0 30px;
  font-size: 30px;
  color: #222;
}

/* User List */
.user-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.footer {
  margin-top: 45px;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  color: #555;
  font-size: 16px;
  line-height: 1.8;
}

.footer strong {
  color: #222;
}